@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> roleManager
<script type="text/javascript" src="~/js/Index.js"></script>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
       if (User.IsInRole("Usuario")){
            <li class="nav-item">
                @* <a class="nav-link text-dark" asp-area="" asp-controller="Carrito" asp-action="VistaCarrito0">Carrito compra</a> *@
                <a class="nav-link text-dark" id="@User.Identity.Name" name="NombreUsuario" onclick="OpenCar(this.id)">Carrito compra</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="@User.Identity.Name" name="NombreUsuario" onclick="OpenBag(this.id)">Pedidos</a>
            </li>   
        }
        
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> Bienvenido @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Cerrar sesion</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar sesion</a>
    </li>
}
</ul>
