@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso no permitido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No cuentas con las licencias necesarias para acceder en este sitio.</p>
</header>
