@model ML.Producto
@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Index.js"></script>
<link type="text/css" href="~/css/IndexStyles.css" />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
                <h1 class="display-4">Bienvenido</h1>
                <p>DigisCommerce.</p>
        </div>
        <div class="col-md-3">
            <label>Area:</label>
            @Html.DropDownListFor(model => model.Departamento.Area.IdArea, new SelectList(Model.Departamento.Area.Areas, "IdArea", "Nombre"), "--Seleccione Area--",htmlAttributes: new { @onchange=("changeDepartamento()")   , @id = "ddlArea", @class = "form-control" })
        </div>
        <div class="col-md-3">
            <label>Departamento:</label>
            @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(string.Empty, "Value", "Text"), "--Selecciona un Departamento--", htmlAttributes: new { @onchange=("renderProductos()"), @id = "ddlDepartamento", @class = "form-control" })
        </div>
        <div class="col-md-3">
            <label>Busqueda Abierta:</label>
            <input type="text" placeholder="Busqueda Abierta" id="Busqueda" class="form-control" />
        </div>
        <div class="col-md-3">
            <button class="btn btn-info " onclick="renderProductos();">Buscar</button>
        </div>
        <hr />
    </div>
    <div class="row" id="productos">

    </div>
</div>